body{
    background-color: black;
}

h1 {
    font-size: 100px;
    color: rgb(226, 38, 38);
    background-color: antiquewhite;
    display: block;
}


.wrapper {
    width: 100%;
}


.wrapper nav ul{
    list-style: none;
}

.wrapper nav ul li{
    display: flex;
}